# リサンプリング

## resample() メソッド

In [1]:
import pandas as pd

ser = pd.Series(
    range(21),
    index=pd.date_range("2023-01-01", periods=21),
)
ser.head()

2023-01-01    0
2023-01-02    1
2023-01-03    2
2023-01-04    3
2023-01-05    4
Freq: D, dtype: int64

In [2]:
ser.resample("1W").sum()

2023-01-01      0
2023-01-08     28
2023-01-15     77
2023-01-22    105
Freq: W-SUN, dtype: int64

In [3]:
ser.resample("1W").ohlc()

            open  high  low  close
2023-01-01     0     0    0      0
2023-01-08     1     7    1      7
2023-01-15     8    14    8     14
2023-01-22    15    20   15     20

In [4]:
ser.resample("3D", closed="left").first()

2023-01-01     0
2023-01-04     3
2023-01-07     6
2023-01-10     9
2023-01-13    12
2023-01-16    15
2023-01-19    18
Freq: 3D, dtype: int64

In [5]:
ser.resample("3D", closed="right").first()

2022-12-29     0
2023-01-01     1
2023-01-04     4
2023-01-07     7
2023-01-10    10
2023-01-13    13
2023-01-16    16
2023-01-19    19
Freq: 3D, dtype: int64