# Excel形式

## PythonでExcelファイルを取り扱う

## データサンプル

## pandasを使う

In [1]:
import pandas as pd

df = pd.read_excel(
    "data/FEH_00200524_230205132438.xlsx",
    header=12,
    nrows=27,
)

In [2]:
df.head()

   年齢5歳階級 コード  年齢5歳階級  /男女別     男女計      男      女
0        1000      総数   NaN  12,477  6,066  6,412
1        1001    0～4歳   NaN     422    216    206
2        1002    5～9歳   NaN     493    252    240
3        1003  10～14歳   NaN     530    272    258
4        1004  15～19歳   NaN     552    283    269

In [3]:
df.shape

(27, 6)

In [4]:
df.loc[:, "/男女別"].isna().all()

True

## pandasでデータ加工しExcelファイルに書き込む

In [5]:
df.head()

   年齢5歳階級 コード  年齢5歳階級  /男女別     男女計      男      女
0        1000      総数   NaN  12,477  6,066  6,412
1        1001    0～4歳   NaN     422    216    206
2        1002    5～9歳   NaN     493    252    240
3        1003  10～14歳   NaN     530    272    258
4        1004  15～19歳   NaN     552    283    269

In [6]:
df.dtypes

年齢5歳階級 コード      int64
年齢5歳階級         object
/男女別          float64
男女計            object
男              object
女              object
dtype: object

In [1]:
cleaned_df = pd.concat(
    [
        df.loc[:, ["年齢5歳階級 コード", "年齢5歳階級"]],
        df.loc[:, ["男女計", "男", "女"]]
            # カンマ(,)を削除
            .applymap(lambda x: x.replace(",", ""))  # ・・①
            # "男女計", "男", "女"の3つの列を整数型に変換する
            .astype("int"),  # ・・②
    ],
    axis=1,
)

NameError: name 'pd' is not defined

In [8]:
processed_df = cleaned_df.assign(
    女性比率=cleaned_df.loc[:, "女"] / cleaned_df.loc[:, "男女計"]
)
processed_df.tail()

    年齢5歳階級 コード       年齢5歳階級   男女計     男     女      女性比率
22        2000    （再掲）15歳未満  1445   740   705  0.487889
23        1023   （再掲）15～64歳  7411  3755  3657  0.493456
24        1024    （再掲）65歳以上  3621  1571  2050  0.566142
25        1026  （再掲）うち75歳以上  1953   773  1179  0.603687
26        1027  （再掲）うち85歳以上   665   214   451  0.678195

In [9]:
processed_df.to_excel("data/人口統計.xlsx")

## Pythonのオブジェクトとして扱う

In [ ]:
import openpyxl

wb = openpyxl.load_workbook("data/FEH_00200524_230205132438.xlsx")
sheet = wb.worksheets[0]  # 最初のシートの読み込み

In [ ]:
print(sheet["B1"].value)

In [ ]:
out = []
for row in sheet.iter_rows(min_row=14, max_row=40):  # ・・①
    inner = []
    for cell in row:  # ・・②
        inner.append(cell.value)
    out.append(inner)  # ・・③
print(out)

In [ ]:
print(len(out))