# RDBデータ

## SQLite3

## データサンプル

# sqlite3モジュールを使う

In [ ]:
import sqlite3

con = sqlite3.connect("data/sakila-sqlite3/sakila_master.db")  # ・・①

In [ ]:
cur = con.cursor()  # コネクションからカーソルオブジェクトを取得 ・・②
# select文を実行してfor文で順次データを取得
for table in cur.execute(  #  ・・③
    "SELECT name FROM sqlite_master WHERE type='table';"
):
    print(table[0])  # ・・④

In [ ]:
cur.execute("SELECT count(*) FROM film;")
cur.fetchall()

In [ ]:
for data in cur.execute(
    "SELECT FILM_ID, TITLE, RELEASE_YEAR, LENGTH, LAST_UPDATE FROM film LIMIT 10;"
):
    print(data)

In [ ]:
limit = 5

for data in cur.execute(
    "SELECT FILM_ID, TITLE, RELEASE_YEAR, LENGTH, LAST_UPDATE"
    " FROM film LIMIT (?);",
    (limit,),
):
    print(data)

In [ ]:
limit = 20

for data in cur.execute(
    "SELECT F.FILM_ID, F.TITLE, F.RELEASE_YEAR, F.LENGTH, F.LAST_UPDATE, C.NAME"
    " FROM film as F"
    " LEFT JOIN film_category as FC ON F.FILM_ID = FC.FILM_ID"
    " LEFT JOIN category as C ON FC.CATEGORY_ID = C.CATEGORY_ID"
    " ORDER BY F.TITLE"
    " LIMIT (?);",
    (limit,),
):
    print(data)

# pandasを使う

In [ ]:
import pandas as pd

df = pd.read_sql(
    "SELECT F.FILM_ID, F.TITLE, F.RELEASE_YEAR, F.LENGTH, F.LAST_UPDATE, C.NAME"
    " FROM film as F"
    " LEFT JOIN film_category as FC ON F.FILM_ID = FC.FILM_ID"
    " LEFT JOIN category as C ON FC.CATEGORY_ID = C.CATEGORY_ID",
    con=con,
    parse_dates=["last_update"],
)
df.head()

In [ ]:
df.shape

In [ ]:
df.dtypes

In [ ]:
con.close()  # コネクションを閉じる