In [1]:
with open('data/FEH_00200524_230205124938.csv', 'r', encoding='cp932') as f:
    for i, row in enumerate(f):
        for col in row.strip().split(','):
            print(col, end='|')
        print()
        print('===')
        if i > 1:
            break

"表章項目"|"人口"|"概算値"|"全国"|"時間軸（年月日現在）"|"年齢5歳階級"|"/男女別"|"男女計"|"男"|"女"|
===
"人口【万人】"|"総人口"|"概算値"|"全国"|"2021年12月"|"総数"|""|"12|547"|"6|099"|"6|448"|
===
"人口【万人】"|"総人口"|"概算値"|"全国"|"2021年12月"|"0～4歳"|""|"437"|"224"|"214"|
===

In [4]:
# 2-1-4
# PandasでCSVファイルを読み込む
import pandas as pd
df = pd.read_csv('data/FEH_00200524_230205124938.csv', encoding='cp932')
print(df.head()) # 先頭5行を表示
print(df.tail()) # 末尾5行を表示

     表章項目   人口  概算値  全国 時間軸（年月日現在）  年齢5歳階級  /男女別     男女計      男      女
0  人口【万人】  総人口  概算値  全国   2021年12月      総数   NaN  12,547  6,099  6,448
1  人口【万人】  総人口  概算値  全国   2021年12月    0～4歳   NaN     437    224    214
2  人口【万人】  総人口  概算値  全国   2021年12月    5～9歳   NaN     503    258    245
3  人口【万人】  総人口  概算値  全国   2021年12月  10～14歳   NaN     535    274    261
4  人口【万人】  総人口  概算値  全国   2021年12月  15～19歳   NaN     559    287    272
       表章項目   人口  概算値  全国 時間軸（年月日現在）       年齢5歳階級  /男女別    男女計      男      女
373  人口【万人】  総人口  概算値  全国    2023年1月    （再掲）15歳未満   NaN  1,445    740    705
374  人口【万人】  総人口  概算値  全国    2023年1月   （再掲）15～64歳   NaN  7,411  3,755  3,657
375  人口【万人】  総人口  概算値  全国    2023年1月    （再掲）65歳以上   NaN  3,621  1,571  2,050
376  人口【万人】  総人口  概算値  全国    2023年1月  （再掲）うち75歳以上   NaN  1,953    773  1,179
377  人口【万人】  総人口  概算値  全国    2023年1月  （再掲）うち85歳以上   NaN    665    214    451

In [5]:
df.shape # 行数と列数を表示

(378, 10)

In [6]:
df.dtypes # データ型を表示

表章項目           object
人口             object
概算値            object
全国             object
時間軸（年月日現在）     object
年齢5歳階級         object
/男女別          float64
男女計            object
男              object
女              object
dtype: object

In [20]:
# import pandas as pd
df_parsed = pd.read_csv(
    'data/FEH_00200524_230205124938.csv', 
    encoding='cp932', 
    parse_dates=['時間軸（年月日現在）'],
    date_format='%Y年%m月',
    thousands=',',
    )
df_parsed.head()

     表章項目   人口  概算値  全国 時間軸（年月日現在）  年齢5歳階級  /男女別    男女計     男     女
0  人口【万人】  総人口  概算値  全国 2021-12-01      総数   NaN  12547  6099  6448
1  人口【万人】  総人口  概算値  全国 2021-12-01    0～4歳   NaN    437   224   214
2  人口【万人】  総人口  概算値  全国 2021-12-01    5～9歳   NaN    503   258   245
3  人口【万人】  総人口  概算値  全国 2021-12-01  10～14歳   NaN    535   274   261
4  人口【万人】  総人口  概算値  全国 2021-12-01  15～19歳   NaN    559   287   272

In [22]:
df_parsed.dtypes

表章項目                  object
人口                    object
概算値                   object
全国                    object
時間軸（年月日現在）    datetime64[ns]
年齢5歳階級                object
/男女別                 float64
男女計                    int64
男                      int64
女                      int64
dtype: object

In [3]:
# 2-1-5 csvモジュールで読み込み
import csv
with open(
    'data/FEH_00200524_230205124938.csv',
    'r', encoding='cp932',
    newline='',
    ) as f:
    data = csv.reader(
        f,
        delimiter='\t',
        quotechar="'")
    for i, row in enumerate(data):
        for col in row:
            print(col, end='|')
        print()
        print('===')
        if i > 1:
            break

"表章項目","人口","概算値","全国","時間軸（年月日現在）","年齢5歳階級","/男女別","男女計","男","女"|
===
"人口【万人】","総人口","概算値","全国","2021年12月","総数","","12,547","6,099","6,448"|
===
"人口【万人】","総人口","概算値","全国","2021年12月","0～4歳","","437","224","214"|
===

In [5]:
# 2-2-3 pandasでExcelファイルを読み込む
import pandas as pd
df = pd.read_excel(
    'data/FEH_00200524_230205132438.xlsx',
    header=12,
    nrows=27,
    )

In [6]:
df.head()

   年齢5歳階級 コード  年齢5歳階級  /男女別     男女計      男      女
0        1000      総数   NaN  12,477  6,066  6,412
1        1001    0～4歳   NaN     422    216    206
2        1002    5～9歳   NaN     493    252    240
3        1003  10～14歳   NaN     530    272    258
4        1004  15～19歳   NaN     552    283    269

In [7]:
df.tail()

    年齢5歳階級 コード       年齢5歳階級  /男女別    男女計      男      女
22        2000    （再掲）15歳未満   NaN  1,445    740    705
23        1023   （再掲）15～64歳   NaN  7,411  3,755  3,657
24        1024    （再掲）65歳以上   NaN  3,621  1,571  2,050
25        1026  （再掲）うち75歳以上   NaN  1,953    773  1,179
26        1027  （再掲）うち85歳以上   NaN    665    214    451

In [8]:
df.dtypes

年齢5歳階級 コード      int64
年齢5歳階級         object
/男女別          float64
男女計            object
男              object
女              object
dtype: object

In [9]:
df.shape

(27, 6)

In [10]:
df.loc[:, '/男女別'].isna().all()

True

In [11]:
# 2-2-4 pandasでExcelファイルの書き込み
df.head()

   年齢5歳階級 コード  年齢5歳階級  /男女別     男女計      男      女
0        1000      総数   NaN  12,477  6,066  6,412
1        1001    0～4歳   NaN     422    216    206
2        1002    5～9歳   NaN     493    252    240
3        1003  10～14歳   NaN     530    272    258
4        1004  15～19歳   NaN     552    283    269

In [12]:
df.dtypes

年齢5歳階級 コード      int64
年齢5歳階級         object
/男女別          float64
男女計            object
男              object
女              object
dtype: object

In [15]:
cleaned_df = df.concat(
    [
        df.loc[:, ['年齢5歳階級 コード', '年齢5歳階級']],
        df.loc[:, ['男女別', '男', '女']]
            # カンマ（，）を削除
            .applymap(lambda x: x.replace(',', ''))
            # "男女計"，"男"，"女"の３つの列を整数型に変換する
            .astype('int')
    ],
    axis=1,
    )

AttributeError: 'DataFrame' object has no attribute 'concat'